<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'light_header', name: @taxon.name %>
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
          <%= render 'left_bar', taxonomies: @taxonomies %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'top_bar' %>
          <div class="row">
            <%= render partial: 'products_show', collection: @products, as: :product %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render 'layouts/light_footer' %>