<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'light_header', product: @product %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'main_product', product: @product %>
      <%= render 'related_products', related_products: @related_products if @related_products %>
    </div>
  </section>
</div>